# Data folders
data/raw/
data/train/
data/val/
data/test/

# Model files
models/
model/
*.pth
*.pt
*.onnx
evaluation_results/

# Python cache
__pycache__/
*.pyc

# Environment / secrets
.env
kaggle.json
access_token

# Notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# MLflow experiment logs
mlruns/
mlartifacts/
mlflow.db